@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }

  .first-word-gradient, .name-gradient {
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-animation: gradient 4s ease both;
    animation: gradient 4s ease both;
}
.name-gradient {
  background-color: #fe5a59;
  background-image: linear-gradient(45deg,#1f2937 40%,#fe5a59 50%,#8205ff 75%,#1f2937);
}
.first-word-gradient {
  background-color: #fb408f;
  background-image: linear-gradient(45deg,#1f2937 40%,#fb408f 60%,#fae937 75%,#1f2937);
}
}